*{
  margin: 0;
  padding: 0;
  line-height: 100%;
  list-style: none;
  text-decoration: none;
}

body {
   font-family: "Mplus 1p";
}

#container{
  width: 75%;
  max-width: 1280px;
  /* min-width: 740px;*/
  margin: 0 auto;
}

header {
  position:relative;
  height: 9rem;
  background: #333;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

  #logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 3rem;
  }

  header h1{
    position: absolute;
    top: 3rem;
    left: 8rem;
    font-size: 2rem;
    color: white;
  }

  #SiteNavigator {
    position:absolute;
    top:3rem;
    right:3rem;
  }

  #SiteNavigator ul{
    display: flex;
    flex-direction: row;
  }

  #SiteNavigator ul li{
    margin-right: 1rem;
  }

  #SiteNavigator ul li a {
    color: white;
  }

main{
  display: flex;
  flex-wrap：wrap;
  justify-content:space-between;
}

section{
  width: 75%;
  padding: 3rem;
  background: #EEE;
}

  section h1{
    margin-bottom: 1rem;
  }

  article{
    padding: 1rem;
    margin-bottom: 2rem;
    background: #FFF;
  }

aside {
  width: 25%;
  padding: 3rem;
  background: #DDD;
}

  aside h1{
    margin-bottom: 1rem;
  }

  aside li{
    margin-bottom: 0.5rem;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}

/****** Image Box ******/

.imageBox{
  float: left;
  width: 8rem;
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background: #FFF;
}

.thumb {
  width: 100%;
  margin-bottom: 1rem;
}

.notes {
  font-size: 0.75rem;
  line-height: 150%;
}

/*******  SmartPhone ********/

@media only screen and (max-width: 768px) {

  
}
